@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SISTEMA DE VENDA DE VEÍCULOS</h1>
    </div>

<div class="row">
    <div class="col-md-12">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod dapibus orci ut cursus. Ut cursus odio in finibus molestie. Nulla eu orci a nunc dictum congue sit amet tincidunt ante. Duis imperdiet molestie ipsum. Vestibulum ornare justo at nisi fringilla pretium. Aliquam nisl sem, pretium vel arcu eget, interdum elementum nisl. Nullam dictum, leo a condimentum rhoncus, nisi neque mattis mauris, sed sagittis lorem metus ac purus. Nulla id augue vel elit accumsan euismod. Cras fermentum, sem hendrerit convallis semper, urna lacus vulputate lorem, ac feugiat dui nisi ac ex. Curabitur aliquam sit amet mauris sit amet consectetur. Donec non ornare lorem, nec hendrerit arcu. Aliquam erat volutpat.
        </p>
        <p>
            Duis bibendum commodo ex, ac suscipit elit placerat et. Praesent condimentum augue nibh. Fusce a dolor vel tellus tincidunt iaculis. Pellentesque blandit neque mauris, sed tincidunt sem ullamcorper nec. Aliquam porta quis velit id convallis. Aliquam in nunc a massa iaculis tempus ac eget nisi. Donec tortor massa, varius in tincidunt in, aliquet quis nunc. Donec leo lacus, luctus vel cursus non, blandit ut tortor. Nullam in tempor eros. Nulla facilisis pretium diam, ut tincidunt eros mollis eget. Curabitur condimentum, velit in auctor elementum, leo felis vehicula augue, id sodales nulla libero sit amet libero. Donec rhoncus accumsan mi, non imperdiet lacus. Nunc vitae pretium ipsum, quis sagittis quam.
        </p>
        <p>
            Nunc sodales finibus scelerisque. In ut velit feugiat, consectetur magna a, malesuada dolor. Suspendisse placerat ornare hendrerit. Sed ultricies tortor vel tellus cursus, sit amet sollicitudin purus maximus. Proin vestibulum pulvinar dolor at aliquam. Morbi aliquet aliquam sem eget rutrum. Morbi orci augue, luctus hendrerit feugiat sit amet, commodo vitae leo. Quisque eu pretium nisl. Donec aliquet, nibh vitae faucibus interdum, lectus dolor sodales nunc, id dignissim orci orci eget neque. Donec sed dolor tempor, tristique ante et, vehicula lacus. Sed commodo risus non odio ultricies, nec scelerisque ipsum accumsan.
        </p>
    </div>
    
</div>